.app-wrapper {
  padding-left: 10px;
  display: grid;
  width:1200px;
  margin: 0 auto;

  grid-template-areas: 
  'h h'
  'n c';

  grid-template-rows: 100px 1fr;
  grid-template-columns: 150px 10fr;
  /* grid-gap: ; */
}

.header {
  grid-area: h;
  background-color:gray;
  margin-bottom: 10px;
}

.nav {
  grid-area: n;
  background-color:#D9E9FF;
  color: gray;
  margin-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

.content {
  grid-area: c;
  background-color:cadetblue;
}

header img {
  width: 80px;
  margin-bottom: 100px;
}

img {
  width: 1000px;
}