.app-wrapper {
  padding-left: 10px;
  display: grid;
  width:1200px;
  margin: 0 auto;

  grid-template-areas: 
  'h h'
  'n c';

  grid-template-rows: 100px 1fr;
  grid-template-columns: 150px 10fr;
  /* grid-gap: ; */
}

img {
  width: 1000px;
}

.app-wrapper-content {
  grid-area: c;
  background-color:cadetblue;
}

.content {
  grid-area: c;
  background-color:cadetblue;
}

.item {
  color: white;
}
